.page-header {
    position: relative;
}
.page-header .inner-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo img {
    width: 50px;
    height: 50px;
}

.member-intro {
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
@media (max-width: 1024px) {
    .member-intro {
        display: none;
    }
}
.member-intro .member-card {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-bottom: 10px;
    background-color: #e9ebec;
    border-radius: 10px;
}

.member-intro .member-card .avatar {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: block;
}

.member-intro .member-card .member-detail svg {
    color: rgb(153, 153, 153);
    width: 16px;
    margin-right: 5px;
    text-align: center;
    margin-bottom: -3px;
}

.member-intro .member-card .member-detail a {
    font-size: 0.8em;
}

.member-intro .member-card .code {
    padding-top: 20px;
    flex-direction: row;
}

.member-intro .member-card .code img {
    width: 50px;
    height: 50px;
}
.avatar-tag {
    width: 30px;
    height: 30px;
}
.btn-logo {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: -1px;
}
.project-tagline {
    height: 30px;
}
.typed-cursor {
    display: none;
}
.main-content {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    justify-content: center;

}
.task {
    padding-top: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #159957;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}